






/* star real css*/




.entete_texte{
  font-weight: bold;
}

.modal-content{
  width: 50em!important;
  right: 24%!important;
  /*left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;*/
}


.custom_color_accept{
  background-color: #84817E;
  border-color: #84817E;
  color: white;
}
.custom_color_accept:hover{
  background-color: #A29787;
  border-color: #A29787;
  color: white;
}
.custom_color_accept:focus{
  background-color: #A29787;
  border-color: #A29787;
  color: white;
  box-shadow: none;
}


.custom_color_refuse{
  background-color: #a53d3d;
  border-color: #a53d3d;
  color: white;
}
.custom_color_refuse:hover{
  background-color: #974444;
  border-color: #974444;
  color: white;
}
.custom_color_refuse:focus{
  background-color: #974444;
  border-color: #974444;
  color: white;
  box-shadow: none;
}









/*--------------------------------------------Navbar*/


.attribut_input{
  /*display: table-cell;*/
  padding-top: 7px;
  font-weight: bolder;
}


.custom_color_logout{
  background-color: #a53d3d;
  border-color: #a53d3d;
  color: white;
}
.custom_color_logout:hover{
  background-color: #974444;
  border-color: #974444;
  color: white;
}

.custom_color_input:focus{
  box-shadow: rgba(116, 102, 41, 0.158) 2px 2px 2px 0px;
  border-color: #A29787;
}

.nav_perso{
  font-weight: bolder;
  background-color: #6b3f26 !important;
  color: white !important;
  margin-bottom: 3em;
}
.nav_perso a{
  padding: 0.2em 1.2em;
  color: white!important;
}
.nav_perso li{
  background-color: #4f2f1c!important;
  padding: 0.2em 1.2em;
  margin: 0.2em 0.4em;
  color: white!important;
  border-radius: 50px;
}
.nav_perso li:hover{
  background-color: #332116!important;
}





/*----------------------------Loading*/



.realBackground{
  z-index: 150;
  /*background-color: hsla(0, 0%, 0%, 0.125);*/
  
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:fixed;
  top: 0px;
  left: 0x;
}

.activBouton{
  z-index: 200;
}


.custom_color_3{
  background-color: #4f2f1c!important;
  width: 15em;
  height: 5em;
  color: white;
  font-size: medium;
  border-radius: 20px;
  
}
.custom_color_3:hover{
  background-color: #4f2f1c!important;
  color: white;
}

.marge{
  margin: 0px 10px;
}









/* ----------------------------formulaire*/

.fonds {
  background-color: hsla(0, 0%, 0%, 0.6);
  height: .1vh;
  width: .1vw;
  display: block;
  position: fixed;
  top: 0px;
  left: 0x;
  z-index: 1052;

}
.fonds2 {
 background-color: hsla(0, 0%, 0%, 0.6);
 height: 100vh;
 width: 100vw;
 display: block;
 position: fixed;
 top: 0px;
 left: 0x;
 z-index: 1051;

}


.form_fondsDrink {
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  padding-bottom: 50px;
  padding-top: 50px;
  position: fixed;
  top: 3em;
  left: 45%;
  margin-left: -240px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.form_fonds h2 {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}


.form_class {
  padding:1em 2em;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.form_contenu {
   min-height: 80px;
   width: 400px;
   
}

.form_contenu p {
  margin-top: 5px;
  margin-bottom: 15px;
  color: rgb(196, 37, 37);
  text-align: center;
}

.label_input {
  display: block;
  text-align: left;
  position: relative;
  top: 30px;
}

.input_formulaire {
  display: block;
  position: relative;
  left: 20%;
  width: 60%;
  height: 30px;
  padding: 2px 10px;
  border-radius: .4em;
  background-color: rgb(245, 245, 245);
}


.btn_type {
  appearance: none;
  backface-visibility: hidden;
  background-color: #0b5ed7;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(39, 97, 174, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}



.btn_type:hover {
  background-color: #0d6efd;
  color: white;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.btn_type:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.btn_type:hover {
  box-shadow: rgba(39, 97, 174, 0.2) 0 6px 12px;
}

.btn_envoie {
  align-self: center;
}

.btn_cancel {
  display: block;
  position: relative;
  left: 95%;
  top: 1.5%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: larger;
  z-index: 10;
}

.btn_cancel:hover {
  cursor: pointer;
}


.bigText{
 unicode-bidi: bidi-override !important;
}



/*-------------------Loging*/

.contereAllLoginb{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleLoging{
  font-weight: bolder!important;
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.connexion{
  max-width: 640px;
  width: 40em;
  height: 20em;
  padding: 1em;
  /*background-color: rgb(236, 236, 236);*/
  /*background-color: #4c5463;*/
  background-color: #ebeced;
        position: absolute; /*Can also be `fixed`*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
  border-radius: 1em;
  box-shadow: rgba(7, 7, 7, 0.322) 0 8px 24px 16px;
}

.attribut_input{
  /*display: table-cell;*/
  padding-top: 7px;
  font-weight: bolder;
}


.custom_color{
  background-color: #84817E;
  border-color: #84817E;
}
.custom_color:hover{
  background-color: #A29787;
  border-color: #A29787;
}

.custom_color_input:focus{
  box-shadow: rgba(116, 102, 41, 0.158) 2px 2px 2px 0px;
  border-color: #A29787;
}










.liste_tab{
  min-width: 1000px;
width: 60em;
min-height: 20em;
padding: 1em;
/*background-color: rgb(236, 236, 236);*/
/*background-color: #4c5463;*/
background-color: #ffffff;        
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      /*overflow: auto;*/
border-radius: 1em;
box-shadow: rgba(7, 7, 7, 0.2) 0 8px 16px 8px;

}

.background_gray{
  background-color: #f2f2f2;
  width: 100vw;
  height: 100vh;
}